*{
    background-color: #E8E8E8;
    
}

/* making the navbar */
.navbar{
    margin: 1rem 4rem;
    border-bottom: 1px solid black;
    font-family: "roboto";
    font-weight: bold;
    font-size: 14px;
    
}

.navbar-nav{
    margin-right: 2rem;
}
/* header and first page */
h1{
    font-family: "roboto";
    font-weight: bold;
}

img{
    background-color: E8E8E8;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}