* {
  background-color: #e8e8e8;
  font-family: 'roboto';
}

/* making the navbar */
.navbar {
  margin: 1rem 4rem;
  border-bottom: 1px solid black;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 14px;
}

.navbar-nav {
  margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #2d45ff;
}

/* header and first page */

h1,
h2 {
  font-family: 'roboto';
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}

img {
  background-color: transparent;
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.intro {
  margin-top: 6.8rem;
}

/* fixing some sizing on first page */
@media only screen and (max-width: 768px) {
  .intro {
    margin-top: 30px;
  }
  .navbar-brand span {
    display: none;
  }
  .intro-img {
    width: 100%;
    position: relative;
  }
  .container {
    position: relative;
  }
  .centered {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 3rem;
    color: white;
  }

  section p {
    position: absolute;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 2rem solid white;
    margin-bottom: 2rem;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 1.75rem;
  }
}

.myimage {
  height: 325px;
  width: 325px;
  border-radius: 50%;
  background-color: blue;
}
.about-me {
  margin-top: 15rem;
}
