* {
  background-color: #e8e8e8;
  font-family: 'roboto';
}

/* making the navbar */
.navbar {
  margin: 1rem 4rem;
  border-bottom: 1px solid black;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 14px;
}

.navbar-nav {
  margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #2d45ff;
}

/* header and first page */

h1,
h2,
h4 {
  font-family: 'roboto';
  font-weight: bold;
  font-size: 4rem;
  letter-spacing: 0.3rem;
}
h3 {
  font-size: 18px;
  font-weight: bold;
}

img {
  background-color: transparent;
  position: relative;
}
/* got rid of glitch that made hamburger menu bad */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.intro {
  margin-top: 3.25rem;
}

/* fixing some sizing on first page */

.about-me {
  margin-top: 8rem;
}
@media only screen and (max-width: 950px) {
  .intro {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .intro {
    margin-top: 30px;
  }
  .navbar-brand span {
    display: none;
  }
  .intro-img {
    width: 100%;
    display: none;
  }

  .centered {
    display: flex;
    height: 400px;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 2.5rem;
    background-image: url(../photos/263380712_1326499997763607_2561569042020727218_n.png);
    background-size: cover;
    background-position-y: 50%;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
  }

  section p {
    position: absolute;
    text-align: center;
    font-size: 1.3rem;
    border-bottom: 2rem solid white;
    margin-bottom: 2rem;
    top: 99%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 1.75rem;
  }

  .about-me {
    margin-top: 55rem;
  }
}
/* just to fix opening page on smaller screens */
@media only screen and (max-width: 600px) {
  .centered {
    margin-top: 0rem;
  }
}

/* about me */
.myimage {
  height: 325px;
  width: 325px;
  border-radius: 50%;
}
/* .about-me {
  margin-top: 30rem;
} */

/* skills */

.skills {
  height: 125px;
  width: 125px;
  background-color: transparent;
}

.skill {
  margin-top: 10rem;
  background-color: black;
}
.css-logo {
  margin-top: 12px;
  height: 105px;
  width: 105px;
}
.about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24rem;
}

.about-me h2 {
  margin-top: 6rem;
}
.myimage p {
  width: 350px;
  margin-bottom: 6rem;
}
/* carousel */
.carousel-image{
  width:48%;
  margin: 10em 0em 0em 10em;
  position: relative;
  z-index: 10;
}

.carousel-caption h5{
  font-size: 5em;
  color: black;
  font-family:  'roboto';
  font-weight: 700;
}
.fake-image{
  opacity: 0;
}
.project-image{
  width:60%;
}
.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-control-next{
color:#01126B;
}



/* end of carousel */
